[Desktop Entry]
Type=Application
Exec=/home/tinbolw/.config/discord/app-1.0.152/Discord
Hidden=false
NoDisplay=false
Name=Discord
Icon=/home/tinbolw/.config/discord/app-1.0.152/discord.png
Comment=Text and voice chat for gamers.
X-GNOME-Autostart-enabled=true
